*{

    margin: 0;
    padding: 0;
    
}
body{
    font-family: Arial, Tahoma, sans-serif;
}
.background{
    padding: 0;
    margin: 0;
    background-image: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
div>h2{

    color: black;
    text-align: center;

}
div>h5{
    text-align: center;
    font-size: 23px;
}
.doc{
    color: cyan;
}
.header{
    height: 250px;
}
.start{
    background: #E0E0E0;
    margin-top: 25%;
}
.text2{
    background: grey;
    color: aliceblue;
}
h6>span{
    color: crimson;
}
div>h6{
    padding: 10px;
    text-align: center;
    font-size: 17px;
}
.imgSublime{
    text-align: center;
}
.imgSublime{
    border-radius: 10px;
}
td>h1>a{
    font-size: 35px;
    color: aqua;
}
td>h2>a{
    font-size: 27px;
    color: blue
}
td>h3>a{
    font-size: 20px;
    color: coral
}
td>h4>a{
    font-size: 32px;
    color: crimson
}
td>h5>a{
    font-size: 15px;
    color: darkgoldenrod
}
td>h6>a{
    font-size: 25px;
    color: darkorange
}
td>h7>a{
    font-size: 29px;
}
td>h8>a{
    font-size: 24px;
    color: deeppink
}
td>h9>a{
    font-size: 20px;
    color: darkmagenta
}
