.nav-wrapper{
    background: #011631;
}
h1{
    text-align: center;
    font-size: 50px;
    color:white;
    
}
h3{
    text-align: center;
    font-size: 19px;
    
}

body{
    background: #011631;
    background-image: url(background.jpg);
    color: black;
    height: 50px;
   }
.background{

    background-image: url(html_programming.jpg);

}
.start{ 

    background: teal;
    
}
div>h3{

    text-align: center;
    color: aliceblue;
        
}
.text{

    background: black;
    color: firebrick;

}